.home-container {
    padding: 2rem 4rem;
}

.expertise-section {
    padding: 120px 0px 0px 0px;
}

.view-all-projects-btn-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.view-all-projects-btn-link {
    text-decoration: none;
}

.view-all-projects-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px 0px;  
    border: 1px solid black;
    border-radius: 100px;
    background: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-all-projects-arrow-icon {
    font-size: 22px;
    margin-left: 8px;
    position: relative;
    top: 1px;
}
