.location-job-container {
    align-items: center;
    justify-content: space-between;
    /* padding: 50px 0px; */
    /* max-width: 1200px; */
    margin: 0 auto;
}

.location-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
    margin-top: 120px;
}

.title-text {
    font-size: 120px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.job-title-text {
    font-size: 120px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}